@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body {
    background-color: #e2e8f0;
    min-height: 500px;
    height: 100vh;
    min-width: 500px;
    width: 100vw;
}

.import-pdf-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    float: left;
    justify-content: center;
    height: 100%;
    width: 25%;
}

#import-pdf-button {
    background-color: #3182ce;
    border-radius: 10px;
    color: ghostwhite;
    height: 40px;
    width: 75%;
}

#import-pdf-button:hover {
    background-color: #e2e8f0;
    color: black;
    cursor: pointer;
}

.text-display-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
}

label {
    display: block;
    margin-bottom: 1.5em;
}

#text-display {
    border: none;
    outline: none;
    resize: none;
    height: 66%;
    white-space: normal;
    width: 66%;
}